@charset "UTF-8";
/* ==========================================================================
   Imports
   ========================================================================== */
/* ==========================================================================
   SCSS Mixins
   ========================================================================== */
/* Responsive Detection */
/* Box Shadow */
/* Border Radius */
/* animation */
/*
@author 14islands.com
SASS mixins for future proof resolution media query
*/
/* Opacity mixin */
/* Smooth transition */
/* Smooth transition */
/* Smooth transition */
/* Rotate Mixin */
/* FONT SIZE */
/* For clearing floats like a boss */
.layout, .floated-list {
  *zoom: 1; }
  .layout:before, .floated-list:before, .layout:after, .floated-list:after {
    display: table;
    content: "";
    line-height: 0; }
  .layout:after, .floated-list:after {
    clear: both; }

/* FONTS */
@font-face {
  font-family: 'Nissan';
  src: url("../fonts/Nissan.eot");
  src: url("../fonts/Nissan.eot?#iefix") format("embedded-opentype"), url("../fonts/Nissan.woff2") format("woff2"), url("../fonts/Nissan.woff") format("woff"), url("../fonts/Nissan.ttf") format("truetype"); }

/* ==========================================================================
   SCSS Variables
   ========================================================================== */
/* COLOURS */
body, h1, h2, h3, h4, .site-footer .logo {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal; }

h1, h2, h3, h4, .site-footer .logo {
  font-family: "Nissan", sans-serif;
  font-style: normal; }

/* ==========================================================================
   UTILITIES
   ========================================================================== */
html {
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Custo∂mize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video,
svg {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

img {
  max-width: 100%; }

a, a:active, a:focus {
  outline: none; }

/*
 * No top margin on all elements
 */
* {
  margin-top: 0; }

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/* layout & grid overrides */
ul {
  padding-left: 18px; }
  ul li {
    margin-bottom: 1em; }

dd {
  margin: 0; }

.layout {
  position: relative;
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0; }
  .layout > * {
    list-style-type: none;
    margin-bottom: 0; }

ul:not(.layout):not(.slick-dots) {
  overflow: hidden;
  margin-left: 1em; }
  ul:not(.layout):not(.slick-dots) li {
    list-style-type: disc; }

main ul ul {
  list-style-type: disc; }

.top-layer {
  position: relative;
  z-index: 8000; }

.floated {
  float: left; }

.floated-right {
  float: right !important; }

@media only screen and (max-width: 640px) {
  .m-no-float {
    float: none !important; } }

@media only screen and (max-width: 1024px) {
  .bd-no-float {
    float: none !important; } }

@media only screen and (max-width: 768px) {
  .t-no-float {
    float: none !important; } }

.floated-list > * {
  float: left;
  list-style-type: none; }

.inline-list > * {
  display: inline-block; }

@media only screen and (max-width: 640px) {
  .inline-list.m-block-100 > li,
  .inline-list.m-block-100 > dt,
  .inline-list.m-block-100 > dd {
    display: block;
    margin-right: 0 !important;
    margin-bottom: .5em; } }

.inline-list.centered {
  text-align: center; }

.comma-seperated-list li:after {
  content: ', '; }

.comma-seperated-list li:last-child:after {
  content: '';
  padding-right: 0; }

.pipe-separated-list li {
  margin-right: .2em; }
  .pipe-separated-list li:after {
    content: ' | ';
    padding-left: .2em; }
  .pipe-separated-list li:last-child {
    margin-right: 0; }
    .pipe-separated-list li:last-child:after {
      content: ''; }

.table-list {
  padding-left: 0;
  margin-left: 0;
  display: table;
  table-layout: fixed;
  text-align: center; }
  .table-list > * {
    display: table-cell; }
    @media only screen and (max-width: 640px) {
      .table-list > * {
        margin: 0 0 1.25em 0; } }

nav ul {
  margin-left: 0;
  padding-left: 0; }
  nav ul li {
    list-style-type: none; }
    nav ul li a {
      text-decoration: none; }

.inline-block {
  display: inline-block; }

.vertical-center-parent {
  display: table;
  table-layout: fixed;
  width: 100%; }

.vertical-center {
  display: table-cell;
  vertical-align: middle;
  width: 100%; }

.flex-center-parent {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  overflow: auto; }

.flex-center {
  margin: 0; }

.align-bottom {
  position: absolute;
  bottom: 0;
  right: 0; }
  @media only screen and (max-width: 640px) {
    .align-bottom {
      position: relative;
      margin-top: 1em; } }
  .align-bottom li:last-child {
    padding-right: 0; }
    .align-bottom li:last-child:after {
      padding-left: 0; }

.centered-copy {
  text-align: center; }

@media only screen and (max-width: 640px) {
  .m-centered-copy {
    text-align: center; } }

@media only screen and (max-width: 768px) {
  .t-centered-copy {
    text-align: center; } }

.parentBgImg img {
  display: none; }
  @media only screen and (max-width: 640px) {
    .parentBgImg img {
      display: block; } }

/* ==========================================================================
   DEVELOPMENT GRID
   ========================================================================== */
#devGrid {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 999999;
  pointer-events: none; }
  #devGrid .inner {
    max-width: 1440px;
    margin: 0 auto;
    height: 100%; }
  #devGrid .inner > * {
    background: rgba(255, 0, 0, 0.3);
    height: 100%;
    width: 4.8611111%;
    margin-left: 2.7777778%;
    float: left; }
    #devGrid .inner > *:first-child {
      margin-left: 5.5555556%; }
      @media only screen and (max-width: 640px) {
        #devGrid .inner > *:first-child {
          margin-left: 6.25%;
          width: 87.5%; } }

.icon {
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  fill: black;
  width: .9375em;
  height: .9375em;
  overflow: hidden;
  vertical-align: -.12em;
  backface-visibility: hidden; }
  .icon.after {
    margin-left: .666666667em; }
  .icon.before {
    margin-right: .666666667em; }
  .icon.inline {
    width: .666666667em;
    height: .666666667em;
    vertical-align: baseline; }
  a:hover .icon {
    fill: #787878; }
  .icon.responsive {
    width: 100%;
    height: auto; }
  .reverse .icon {
    fill: white; }

.bg-icon {
  font-weight: 700;
  text-decoration: none;
  position: relative;
  display: block;
  padding-left: 2em;
  line-height: 1.2em; }
  .bg-icon:before {
    content: '';
    width: 1.5em;
    height: 2em;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -1em;
    background-size: contain; }

a {
  /*&:hover{
    .invert-hover{
      fill: white;
      color: $dark-blue;
    }
  }*/ }
  a .invert-hover {
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    fill: black;
    color: transparent; }

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 0px 0px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.99; }

.hamburger-box {
  width: 20px;
  height: 14px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 20px;
    height: 2px;
    background-color: black;
    border-radius: 0;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -6px; }
  .hamburger-inner::after {
    bottom: -6px; }

/*
   * Spin
   */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

body {
  color: black;
  font-size: .875em;
  line-height: 1.666666667em; }

.inner-container {
  width: 87.5%;
  max-width: 1366px;
  margin: 0 auto; }
  .inner-container.slim {
    max-width: 1000px; }
  @media only screen and (max-width: 767px) {
    .inner-container.full-width-m {
      width: 100%; } }

.content {
  padding-top: 175px; }
  @media only screen and (max-height: 767px) and (min-width: 641px) {
    .content {
      padding-top: 77px; } }
  @media only screen and (max-width: 1024px) {
    .content {
      padding-top: 77px; } }

h1, h2, h3, h4 {
  font-weight: normal;
  margin-bottom: .65em; }

h1 {
  font-size: 3.888888889em;
  line-height: 1.114285714em; }
  @media only screen and (max-width: 767px) {
    h1 {
      font-size: 2.666666667em;
      line-height: 1.166666667em; } }

h2 {
  font-size: 2.666666667em;
  line-height: 1.125em;
  margin-bottom: 1.111111111em; }
  @media only screen and (max-width: 767px) {
    h2 {
      font-size: 2em;
      line-height: 1.15em; } }

h3 {
  font-size: 2em;
  line-height: 1.15em; }

a {
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: black; }
  a:hover {
    color: #787878; }
  nav a {
    text-decoration: none; }
  .reverse a {
    color: white; }
  a h1, a h2, a h3, a h4 {
    text-decoration: none; }

.btn,
button {
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  font-size: 1em;
  background: #f80054;
  padding: 1em 2em .888888889em;
  line-height: 1.142857143em;
  display: inline-block;
  position: relative;
  text-align: center;
  border: 3px solid white;
  color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); }
  @media only screen and (max-width: 767px) {
    .btn,
    button {
      padding-left: 2em;
      padding-right: 2em;
      display: block; } }
  .btn:hover,
  button:hover {
    box-shadow: none;
    color: white;
    transform: translate(0, 1px); }
  .btn:focus,
  button:focus {
    outline: none; }
  .btn .icon,
  button .icon {
    fill: black; }

.site-header {
  background: white;
  position: fixed;
  width: 100%;
  padding: 1.5em 0;
  z-index: 999999; }
  .site-header .inner {
    width: 90.625%;
    left: 0;
    right: 0;
    margin: 0 auto; }

html.nav-open {
  overflow: hidden; }

body.nav-open {
  overflow: visible;
  height: 100%; }

@media only screen and (max-width: 1024px) {
  .main-nav {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    /* These 2 below are all the magic: */
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; }
    .nav-open .main-nav {
      display: block !important; } }
    @media only screen and (max-width: 1024px) and (min-height: 569px) and (max-width: 1023px) {
      .nav-open .main-nav {
        display: flex !important;
        align-items: center;
        justify-content: center;
        padding-top: 0; } }

.mobile-toggle {
  display: none; }
  @media only screen and (max-width: 1024px) {
    .mobile-toggle {
      display: inline-block; } }

.hamburger-box {
  display: block;
  margin-top: -15px; }

.site-footer {
  background: #404040;
  color: white;
  text-align: center;
  padding: 4.5em 0 4.9em; }
  @media only screen and (max-width: 940px) {
    .site-footer {
      padding: 1.5em 0; } }
  .site-footer .logo {
    color: white;
    text-transform: uppercase;
    font-size: 1.714285714em;
    display: inline-block;
    margin-bottom: 2.5em; }
    @media only screen and (max-width: 640px) {
      .site-footer .logo {
        font-size: 1.428571429em;
        margin-bottom: 1.2em; } }
  .site-footer .footer-logos {
    margin-bottom: 4.285714286em; }
    @media only screen and (max-width: 640px) {
      .site-footer .footer-logos {
        margin-bottom: 1.714285714em; } }
    .site-footer .footer-logos li {
      margin-left: 15px;
      margin-right: 15px; }
      @media only screen and (max-width: 640px) {
        .site-footer .footer-logos li {
          margin-bottom: 1em; } }
  .site-footer a {
    text-decoration: none; }

.footer-nav {
  margin-top: -1.75em; }
  @media only screen and (max-width: 940px) {
    .footer-nav {
      margin-top: 0;
      display: flex;
      flex-direction: column; } }
  @media only screen and (max-width: 940px) {
    .footer-nav li {
      float: none; } }
  @media only screen and (max-width: 940px) {
    .footer-nav li:not(:last-child) {
      margin-bottom: 1em; } }
  .footer-nav li:last-child {
    float: right; }
    @media only screen and (max-width: 940px) {
      .footer-nav li:last-child {
        float: none; } }
    .footer-nav li:last-child ul {
      display: flex;
      flex-direction: row; }
      @media only screen and (max-width: 940px) {
        .footer-nav li:last-child ul {
          justify-content: center; } }

.social-links {
  display: inline-block;
  font-size: 1.428571429em;
  z-index: 9999; }
  @media only screen and (max-width: 940px) {
    .social-links {
      margin-bottom: .5em; } }
  .social-links a {
    display: block; }
  .social-links svg {
    display: block; }

/*input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus{
    -webkit-box-shadow: 0 0 0 40px white inset;
}*/
input {
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 1.333333333em;
  border: none;
  padding: .666666667em 0 .625em;
  background: transparent; }
  input:focus {
    outline: none;
    border-color: black; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #787878; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #787878; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #787878; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #787878; }

.field-validation-error {
  padding-top: .5em;
  color: red;
  display: block;
  font-size: .777777778em;
  text-align: left; }

.umbraco-forms-submitmessage {
  font-size: 2em; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
.flip-horiz {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH"; }

.flex {
  display: flex; }

.uppercase {
  text-transform: uppercase; }

.show-overflow {
  overflow: visible; }

.m-inline {
  float: none;
  display: inline-block; }

@media only screen and (max-width: 640px) {
  .m-block-100 {
    width: 100% !important;
    display: block;
    margin-left: 0 !important; }
    .m-block-100.floated, .m-block-100.floated-right {
      float: none; }
    .m-block-100.page-margin {
      width: 87.5%;
      margin-left: 0; }
    .page-margin .m-block-100 {
      width: 100%;
      margin-left: 0; }
    .m-block-100.m-page-margin {
      padding-left: 6.25%;
      padding-right: 6.25%;
      width: 87.5%; } }

@media only screen and (max-width: 768px) {
  .t-block-100 {
    width: 100% !important;
    display: block;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0 !important; }
    .t-block-100.floated {
      float: none; }
    .t-block-100.page-margin {
      width: 87.5%;
      margin-left: 0; }
    .page-margin .t-block-100 {
      width: 100%;
      margin-left: 0; }
    .t-block-100.m-page-margin {
      padding-left: 6.25%;
      padding-right: 6.25%;
      width: 87.5%; } }

@media only screen and (max-width: 640px) {
  .m-block-list > * {
    float: none;
    display: block;
    margin-left: 0 !important;
    margin-right: 0;
    width: 100% !important; } }

@media only screen and (max-width: 768px) {
  .t-block-list > * {
    float: none !important;
    display: block;
    margin-left: 0 !important;
    margin-right: 0;
    width: 100% !important; } }

@media only screen and (max-width: 1024px) {
  .bd-block-list > * {
    float: none !important;
    display: block;
    margin-left: 0 !important;
    margin-right: 0;
    width: 100% !important; } }

@media only screen and (max-width: 940px) {
  .nav-break-block-list > * {
    float: none !important;
    display: block;
    margin-left: 0 !important;
    margin-right: 0;
    width: 100% !important; } }

/* removes extra extra margin at the bottom of module elements */
.module > *:last-child,
.module > *:last-child > *:last-child,
.module > *:last-child > *:last-child > *:last-child {
  margin-bottom: 0 !important; }

/*
 * Image replacement
 */

.image-replace {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }
  
  .image-replace:before {
    content: "";
    display: block;
    width: 0;
    height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

@media only screen and (max-width: 768px) {
  .t-hidden {
    display: none !important;
    visibility: hidden; } }

@media only screen and (max-width: 640px) {
  .m-hidden {
    display: none !important;
    visibility: hidden; } }

.lt-ie9 .mobile-only {
  display: none;
  visibility: hidden; }

@media only screen and (min-width: 641px) {
  .mobile-only {
    display: none;
    visibility: hidden; } }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

.m-block-list.list-bg > li.vertical-center-parent {
  display: table !important; }

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
     * Don't show links for images, or javascript/internal links
     */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group;
    /* h5bp.com/t */ }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
