.timeline{
    position: relative;
    padding: 1.666666667em 0 0;




    &:before{
        content: '';
        height: 100%;
        width: 1px;
        background: $line-grey;
        position: absolute;
        left: calc(50% - 1px);
        top: 0;

        @include breakpoint(tablet) {
            display: none;
        }

    }

    .header{
        position: relative;
        background: white;
        padding: 1.666666667em 0;
        max-width: 700px;
        margin-bottom: 2.777777778em;

        h2{
            margin-bottom: .208333333em;

        }

        p{
            font-size: 1.333333333em;
        }
    }

    .story{
        background: white;
        padding: 2.777777778em 50px;
        width: calc(50% - 1px);
        margin-left: 50%;
        position: relative;

        @include breakpoint(tablet) {
            width: 87.5%!important;
            padding: 1.111111111em 30px;
            margin-left: auto!important;
            margin-right: auto!important;
        }


        &:before,
        &:after,{
            content: '';
            width: 1px;
            height: 100px;
            background: $line-grey;
            position: absolute;
            right: 0;
            bottom: 0;

            @include breakpoint(tablet) {
                display: none;
            }

        }

        &:after{
            width: 100px;
            height: 1px;
        }

        h2{
            margin-bottom: 0;

            @include breakpoint(tablet) {
                font-size: 2em;
                line-height: 1.166666667em;
            }

        }
    }

    .stories{

        @include breakpoint(tablet) {
            width: 100%;
        }


        a{
            text-decoration: none;
        }

        li{
            margin-bottom: 8.333333333em;

            @include breakpoint(tablet) {
                margin-bottom: 2.222222222em;
            }


            &:nth-child(2n+2){

                .story{
                    margin-left: 0;

                    &:before,
                    &:after{
                        left: 0;
                        right: auto;
                    }

                }

                img{
                    margin-left: 28.5505124%;

                    @include breakpoint(tablet) {
                        margin-left: 0;
                    }

                }

            }

            img{
                width: 71.4494876%;

                @include breakpoint(tablet) {
                    width: 100%;
                }

            }
        }
    }
}


.feature{
    position: relative;
    margin-bottom: 4.444444444em;

    .main-img{
        text-align: right;



        > *{
            display: inline-block;
            width: 55.7142857%;
            height: 670px;
            background-size: cover;
            background-position: center;
            vertical-align: middle;

            @include breakpoint(tablet) {
                width: 100%;
                height: auto;
                margin-bottom: 1.666666667em;
                padding-top: 70%;
            }

        }

    }

    &.alt{
        .main-img{
            text-align: left;
        }

        .caption{
            width: 87.5%;
            max-width: 1366px;
            margin-left: auto;
            margin-right: auto;
        }

        .story{
            margin-left: 50%;
            padding: 40px 0 0 40px;

            @include breakpoint(tablet) {
                margin-left: 0;
                padding: 0;
            }

        }

        .large-img{
            order: 1;
        }
    }

    .caption{
        margin-left: 50%;
        border-left: 1px solid $line-grey;
        padding: 6px 0 6px 20px;
        color: $grey;
        display: block;
        margin-top: 40px;

        @include breakpoint(tablet) {
            display: none;
        }

    }

    .inner-container{
        position: relative;
        margin-top: -752px;

        @include breakpoint(tablet) {
            margin-top: 0;
        }

    }

    .story{

        background: white;
        padding: 40px 40px 0 0;
        width: 50%;
        min-height: 572px;
        margin-top: 180px;
        margin-bottom: 80px;

        @include breakpoint(tablet) {
            margin-top: 0;
            margin-bottom: 3.333333333em;
            width: 100%;
            text-align: center;
            padding: 0;
            min-height: 0;
        }


        &:before{
            content: '';
            width: 90px;
            height: 1px;
            display: block;
            background: $dark-blue;
            margin-bottom: 40px;

            @include breakpoint(tablet) {
                display: none;
            }

        }

        h3{
         font-size: 2em;
         line-height: 1.166666667em;
        }

    }

    .additional-imgs{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 4.444444444em;

        @include breakpoint(tablet) {
            flex-direction: column;
            margin-bottom: 3.333333333em
        }


        > *{
            width: 50%;

            @include breakpoint(tablet) {
                width: 100%;
            }

        }

        .large-img{
            background-size: cover;
            background-position: center;
            padding-top: 30%;

            @include breakpoint(tablet) {
                order: 1;
                padding-top: 70%;
            }


        }

        .small-img{

            @include breakpoint(tablet) {
                margin-bottom: 3.333333333em;
            }


            > *{
                background-size: cover;
                background-position: center;
                display: block;
                width: 50%;
                padding-top: 33.333333333%;
                margin: 0 auto;

                @include breakpoint(tablet) {
                    width: 87.5%;
                    padding-top: 60%
                }

            }

        }
    }

    .additional-copy{
        max-width: 700px;
        margin: 0 auto;

        .btn{
            margin-top: 1.666666667em;
        }
    }
}

.back-link{
    font-size: .777777778em;
    padding: 4.285714286em 0 3.571428571em;

    @include breakpoint(tablet) {
        padding: 2.857142857em 0 1.428571429em;
    }


    p{
        font-size: 1.285714286em;
        line-height: 1.333333333em;
        color: $grey;
        margin-bottom: 2.777777778em;

        @include breakpoint(tablet) {
            margin-bottom: 1.111111111em;
        }


        a{
            text-decoration: none;
        }
    }

    .social-links{
        a{
            display: block;
            padding: 0 1em;

            @include breakpoint(nav-break) {
                padding: .5em;
            }

        }
    }


}