.slide{
    .slick-slide,
    &:not(.carousel) > *{
        @include breakpoint(above-tablet) {

            display: flex;
            align-items: center;
            justify-content: center;
            text-align: left;

            > *{
                width: 45.6076135%;

                &:nth-child(2){
                    margin-left: 8.7847731%;
                }
            }
        }

    }



    > *{
        @include breakpoint(below-tablet) {
            border-bottom: 1px solid $line-grey;
            margin-bottom: 1.666666667em;
            padding-bottom: 1.777777778em;
        }

        &:last-child{
            border: none;
            padding-bottom: 0;
            margin-bottom: 0;
        }

    }

    .img-container{
        text-align: center;

        @include breakpoint(below-tablet) {
            margin-bottom: 1.388888889em;
        }


        img{
            display: inline-block;
        }
    }

    .copy-container{

        h2{
            font-size: 2.666666667em;

            @include breakpoint(below-tablet) {
                font-size: 2em;
            }

        }

        p{
            font-size: 1.333333333em;
            line-height: 1.333333333em;

            @include breakpoint(below-tablet) {
                font-size: 1em;
                line-height: 1.666666667em;
            }

        }

        a{
            font-size: 1.111111111em;
            position: relative;
            text-decoration: none;
            display: inline-block;

            &:after{
                content: '';
                width: 100%;
                height: 2px;
                display: block;
                background: $dark-blue;
                position: absolute;
                bottom: -2px;
                left: 0;
            }
        }
    }

    .info{
        font-size: .666666667em;
        color: $grey;
        border-bottom: 1px solid $line-grey;
    }

}

.carousel-full-width,
.carousel-full-width-no-nav{
    img{
        display: inline-block;
    }
}

.carousel-full-width-no-nav{
    position: relative;

    .slick-dots{
        position: relative;
        margin-left: 0;
        margin-bottom: 0;
        padding-left: 0;
        margin-top: 1.75em;
        margin-bottom: 2.5em;
        display: inline-block!important;

        &:after{
            content: '';
            width: calc(100% + 40px);
            height: 1px;
            background: $line-grey;
            position: absolute;
            top: 18px;
            left: -20px;
            z-index: -1;

        }

        > li{
          list-style-type: none;
          margin-bottom: 0;


            position: relative;
            display: inline-block;
            width: 10px;
            height: 10px;
            margin: 0 7px;
            padding: 0;
            cursor: pointer;



            button {
                font-size: 0;
                line-height: 0;
                display: block;
                width: 10px;
                height: 10px;
                padding: 0;
                cursor: pointer;
                color: transparent;
                border: 0;
                outline: none;
                background: transparent;
                box-shadow: none;


                &:before {
                    font-size: 10px;
                    line-height: 10px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 10px;
                    height: 10px;
                    content: '';
                    text-align: center;
                    opacity: 1;
                    color: black;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    border: 1px solid $grey;
                    transform: rotate(45deg);
                    backface-visibility: hidden;
                    background: white;
                }


            }

            &.slick-active{
                button{
                    &:before{
                        background: $grey;
                    }
                }
            }



        }
    }


    .slick-prev,
    .slick-next{
        background: transparent;
        box-shadow: none;
        border: none;
        padding: 0;
        position: absolute;
        top: 50%;
        margin-top: -19px;
        z-index: 9999;

        &:hover{
            .icon{
                fill: $dark-blue;
            }
        }

        .icon{
            width: 45px;
            height: 45px;
            fill: $line-grey;
        }
    }

    .slick-prev{
        left: -64px;

    }

    .slick-next{
        right: -64px;

    }


}

.carousel-nav,
.carousel-nav-full-width{

    color: $grey;
    margin-top: 4.222222222em;
    margin-bottom: 2em;
    line-height: 1.333333333em;
    width: 92%;
    margin-right: auto;
    margin-left: auto;

    @include breakpoint(nav-break) {
        width: 80%;
    }




    @include breakpoint(below-tablet) {
        display: none;
    }



    .slick-slide{
        position: relative;
        border-top: 1px solid $line-grey;

        &:before{
            content: '';
            width: 1px;
            height: 24px;
            background: transparent;
            display: block;
            left: 50%;
            position: relative;
            margin-bottom: 5px;
        }
    }


    .slick-prev,
    .slick-next{
        background: transparent;
        box-shadow: none;
        border: none;
        padding: 0;
        position: absolute;
        top: -14px;
        z-index: 9999;

        &:hover{
            .icon{
                fill: $dark-blue;
            }
        }

        .icon{
            width: 45px;
            height: 45px;
            fill: $line-grey;
        }
    }

    .slick-prev{
        left: -44px;

        @include breakpoint(below-tablet) {
            left: 0px;
        }

    }

    .slick-next{
        right: -44px;

        @include breakpoint(below-tablet) {
            right: 0px;
        }
    }

    .slick-current{
        color: $dark-blue;

        &:before{
            background: $dark-blue;
        }

        &:after{
            content: '';
            width: 9px;
            height: 9px;
            background: $dark-blue;
            position: absolute;
            top: -5px;
            left: 50%;
            margin-left: -4px;
            transform: rotate(45deg);
            box-shadow: 1px 0 4px 1px rgba(0,0,0,.3);
            z-index: 99999;
        }
    }

    .slick-track{
        padding-top: 8px
    }



}

.carousel-nav-full-width{




    @include breakpoint(below-tablet) {
        display: block;
        width: 59.375%;
        margin-top: 1.666666667em;
        margin-bottom: 0;
    }

    .slick-prev,
    .slick-next{

        @include breakpoint(below-tablet) {
            top: -14px;
        }


        .icon{
            @include breakpoint(below-tablet) {
                width: 45px;
                height: 45px;
            }
        }
    }

    .slick-prev{
        @include breakpoint(below-tablet) {
            left: -45px;
        }
    }

    .slick-next{
        @include breakpoint(below-tablet) {
            right: -45px;
        }
    }



}

.awards{
    max-width: 700px;
    margin: 0 auto;
    text-align: center;

    @include breakpoint(below-tablet) {
        //max-width: 230px;
    }


    .slick-slide:not(.slick-center){
        opacity: .4;
        transform: scale(.85);
    }

    .slick-slide{
        @include smooth;
        border: 1px solid $line-grey;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        margin: 0 40px;

        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+60,cdd1d4+100&0+0,1+100 */
        background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(255,255,255,0.6) 60%, rgba(205,209,212,1) 100%); /* FF3.6-15 */
        background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%,rgba(255,255,255,0.6) 60%,rgba(205,209,212,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: radial-gradient(ellipse at center, rgba(255,255,255,0) 0%,rgba(255,255,255,0.6) 60%,rgba(205,209,212,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#cdd1d4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


        .award-content{
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;
        }

        img{
            display: inline-block;
        }

        &:before{
            display: block;
            content: '';
            margin-top: 100%;
        }


    }


    .slick-prev,
    .slick-next{
        background: transparent;
        box-shadow: none;
        border: none;
        padding: 0;
        position: absolute;
        top: 50%;
        margin-top: -22px;
        z-index: 9999;

        &:hover{
            .icon{
                fill: $dark-blue;
            }
        }

        .icon{
            width: 30px;
            height: 30px;
            fill: $line-grey;
        }
    }

    .slick-prev{
        left: 30.1428571%;

        @include breakpoint(below-tablet) {
            left: 50px;
        }

    }

   .slick-next{
    right: 30.1428571%;

        @include breakpoint(below-tablet) {
            right: 50px;
        }
   }

}


.awards-copy{
margin-top: 2em;

.slick-slide{
    > *{
        max-width: 300px;
        margin: 0 auto;
    }

    h3{
        margin-bottom: .5em;
    }

    p{
        font-size: .888888889em;
        line-height: 1.375em;
    }
}
}