

.flavours{
    text-align: left;
    align-items: stretch!important;

    @include breakpoint(below-tablet) {
        text-align: center;
    }


    > *{
        position: relative;


        @include breakpoint(above-tablet) {
            display: flex;
        }

    }

    h3{
        font-size: .888888889em;
        color: $grey;
        margin-bottom: .625em;
    }

    p{
        line-height: 1.222222222em;
    }

    .copy-container{
        background: white;
        padding: 30px 0 30px 20px;
        position: relative;
        z-index: 9;
        margin-left: 31.25%;
        margin-top: 40px;
        margin-bottom:10px;

        @include breakpoint(below-tablet) {
            padding: 0;
            margin: 0 auto;
            background: transparent;
            width: 50%;
        }


        .grey-bg &{
            background: $light-grey;
        }
    }

    .img-container{
        background-size: cover;
        background-position: center;

        position: absolute;
        left: 0;
        top: 0;
        width: 160px;
        height: 100%;

        @include breakpoint(below-tablet) {
            position: relative;
            height: 200px;
            margin: 0 auto 1.666666667em;
        }

    }
}

.flavour-wheel{
    display: none;

    margin-top: 3.333333333em;
}

.flavour-wheel-toggle{
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: .888888889em;

    .icon-container{
        background: $light-grey;
        border-radius: 50%;
        width: 62px;
        padding-top: 30px;
        padding-bottom: 18px;
        margin: -22px auto 0;
    }


    .icon{
        width: 22px;
        height: 14px;
        fill: #06090D;
        display: block;
        margin: 0 auto;
    }

    &.on{
        .icon{
            transform: rotate(180deg);
        }
    }
}

blockquote{
    text-align: center;
    width: 87.5%;
    max-width: 900px;
    margin: 0 auto;
    font-size: 2.666666667em;
    line-height: 1.166666667em;

    @include breakpoint(below-tablet) {
        font-size: 1.333333333em;
        line-height: 1.333333333em;
    }

    .icon{
        width: 60px;
        height: 60px;
        fill: #E3DCC7;
        margin-bottom: .833333333em;
    }


    footer{
        font-size: .333333333em;
        line-height: 1.333333333em;

        @include breakpoint(below-tablet) {
            font-size: .666666667em;
        }

    }
}


.gallery-caption{
    width: 87.5%;
    max-width: 600px;
    margin: 1.25em auto 0;
    font-size: 1.333333333em;
    line-height: 1.333333333em;
}


.pre-feature-box{
    max-width: 700px;
    margin: 0 auto 2.777777778em;

    h2{
        margin-bottom: .583333333em;
    }

    p{
        font-size: 1.333333333em;
        line-height: 1.25em;
    }
}

.feature-box{
    color: white;
    background: $dark-blue;
    max-width: 700px;
    margin: 0 auto;
    padding: 2.777777778em 2.777777778em 5.555555556em 2.777777778em;
    position: relative;

    p{
        font-size: 1.333333333em;
        line-height: 1.25em;
    }

    ul{
        position: relative;
        margin-left: 0;
        margin-bottom: 2em;
        padding-left: 0;

        li{
          list-style-type: none;
          margin-bottom: 0;

          &:last-child{
            &:after{
                display: none;
            }
          }

          &:after{
            content: '';
            display: block;
            width: 10px;
            height: 10px;
            border: 1px solid $off-grey;
            transform: rotate(45deg);
            position: relative;
            left: 50%;
            margin-top: 1em;
            margin-bottom: 1.2em;
          }
        }
    }

    + .btn-container{
        position: relative;
        margin-top: -30px;
        width: 100%;
        margin-bottom: 3.333333333em;

        @include breakpoint(tablet) {
            width: 87.5%;
            margin-left: auto;
            margin-right: auto;
        }

    }

}