.site-footer{
    background: $dark-grey;
    color: white;

    text-align: center;
    padding: 4.5em 0 4.9em;

    @include breakpoint(nav-break) {
        padding: 2em 0;
    }


    .logo{
        @extend %heading;
        color: white;
        text-transform: uppercase;
        font-size: 1.714285714em;
        display: inline-block;
        margin-bottom: 2.5em;

        @include breakpoint(mobile) {
            font-size: 1.428571429em;
            margin-bottom: 1.2em;
        }

    }

    .footer-logos{
        margin-bottom: 4.285714286em;

        @include breakpoint(mobile) {
            margin-bottom: 1.714285714em;
        }



        li{
            margin-left: 15px;
            margin-right: 15px;

            @include breakpoint(mobile) {
                margin-bottom: 1em;
            }

        }
    }

    a{
        text-decoration: none;
    }

}

.footer-nav{
    margin-top: -1.75em;

    @include breakpoint(nav-break) {
        margin-top: 0;
        display: flex;
        flex-direction: column;

    }




    li{

        @include breakpoint(nav-break) {
            float: none;
        }


        &:not(:last-child){
            @include breakpoint(nav-break) {
                margin-bottom: 1em;
            }
        }


        &:last-child{
            float: right;

            @include breakpoint(nav-break) {
                float: none;
            }

            ul{
                display: flex;
                flex-direction: row;

                @include breakpoint(nav-break) {
                    justify-content: center;
                }

            }
        }





    }
}


.social-links{
    display: inline-block;
    font-size: 1.428571429em;
    z-index: 9999;

    @include breakpoint(nav-break) {
        margin-bottom: .5em;
    }



    a{
        display: block;
    }

    svg{
        display: block;
    }
}