
body{
    @extend %sans;
    color: black;
    font-size: .875em;
    line-height: 1.666666667em;
}


.inner-container{
    width: 87.5%;
    max-width: 1366px;
    margin: 0 auto;

    &.slim{
        max-width: 1000px;
    }

    &.full-width-m{
        @include breakpoint(below-tablet) {
            width: 100%;
        }
    }


}





.content{
    padding-top: 65px;

    @include breakpoint(short-and-wide) {
        //padding-top: 77px;
    }


    @include breakpoint(below-desktop) {
        //padding-top: 77px;
    }

}

h1,h2,h3,h4{
    @extend %heading;
    font-weight: normal;
    margin-bottom: .65em;

}


h1{
    font-size: 3.888888889em;
    line-height: 1.114285714em;

    @include breakpoint(below-tablet) {
        font-size: 2.666666667em;
        line-height: 1.166666667em;
    }

}

h2{
    font-size: 2.666666667em;
    line-height: 1.125em;

    @include breakpoint(below-tablet) {
        font-size: 2em;
        line-height: 1.15em;
    }

}

h3{
    font-size: 2em;
    line-height: 1.15em;
}



a{
    @include smooth;

    color: black;

    &:hover{
        color: $grey;
    }

    nav &{
        text-decoration: none;
    }

    .reverse &{
        color: white;
    }

    h1,h2,h3,h4{
        text-decoration: none;
    }
}

.btn,
button{
    @include smooth;
    @extend %sans;
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    background: $magenta;
    padding: 1em 2em .888888889em;
    line-height: 1.142857143em;
    display: inline-block;
    position: relative;
    text-align: center;
    border: none;
    border-radius: 3px;
    color: white;


    @include breakpoint(below-tablet) {
        padding-left: 2em;
        padding-right: 2em;
        display: block;
    }



  &:hover{

  }


  &:focus{
    outline: none;
  }

  .icon{
    fill: black;

  }

}


.magenta{
    color: $magenta;
}





