
body{
    @extend %serif;
    color: $dark-blue;
    font-size: 1.125em;
    line-height: 1.666666667em;
}


.inner-container{
    width: 87.5%;
    max-width: 1366px;
    margin: 0 auto;

    &.slim{
        max-width: 1000px;
    }

    &.full-width-m{
        @include breakpoint(below-tablet) {
            width: 100%;
        }
    }


}





.content{
    padding-top: 175px;

    @include breakpoint(short-and-wide) {
        padding-top: 77px;
    }


    @include breakpoint(below-desktop) {
        padding-top: 77px;
    }

}

h1,h2,h3,h4{

    font-weight: normal;
    margin-bottom: .65em;

    .first-word{


        display: block;
        font-size: .4em;
        line-height: 1em;
        margin-bottom: .875em;

        &:before,
        &:after{
            @include smooth;
            content: '';
            width: 20px;
            height: 1px;
            background: black;
            display: inline-block;
            vertical-align: middle;
            margin-top: -.1875em;
        }

        &:before{
            margin-right: 10px;
        }

        &:after{
            margin-left: 10px;
        }
    }


    .full-width-m &{
        @include breakpoint(below-tablet) {
            width: 87.5%;
            margin-left: auto;
            margin-right: auto;
        }
    }



}


h1{
    font-size: 3.888888889em;
    line-height: 1.114285714em;

    @include breakpoint(below-tablet) {
        font-size: 2.666666667em;
        line-height: 1.166666667em;
    }

    .CollectionDetail &{
        font-size: 1em;
    }

}

h1 + h2{
    .CollectionDetail &{
        font-size: 3.888888889em;
        line-height: 1.114285714em;
        margin-bottom: .642857143em;

        @include breakpoint(below-tablet) {
            font-size: 2.666666667em;
            line-height: 1.125em;

        }

    }
}

h2{
    font-size: 2.666666667em;
    line-height: 1.125em;
    margin-bottom: 1.111111111em;

    @include breakpoint(below-tablet) {
        font-size: 2em;
        line-height: 1.15em;
    }

}

h3{
    font-size: 2em;
    line-height: 1.15em;
}

.flourish{
    margin-bottom: .2em;

    &:after{
        content: url(../img/header-flourish.svg);
        display: block;
        margin-top: .575em;
    }

}


a{
    @include smooth;

    color: black;

    &:hover{
        color: $current-grey;

        .first-word{
            &:before,
            &:after{
                background: white;
            }
        }




    }

    nav &{
        text-decoration: none;
    }

    .reverse &{
        color: white;
    }

    h1,h2,h3,h4{
        text-decoration: none;
    }
}

.btn,
button{
    @include smooth;
    @extend %serif;

    text-decoration: none;
    font-size: 1em;
    background: $dark-blue;
    padding: 1em 2em .888888889em;
    line-height: 1.142857143em;
    display: inline-block;
    position: relative;
    text-align: center;
    border: 3px solid white;
    color: white;
    box-shadow: 0px 0px 20px rgba(0,0,0,.3);


    @include breakpoint(below-tablet) {
        padding-left: 2em;
        padding-right: 2em;
        display: block;
    }



  &:hover{
    box-shadow: none;
    color: white;
    transform: translate(0,1px);
  }

  &.slick-next,
  &.slick-prev{
    &:hover{
        transform: translate(0, 0);
    }
  }

  &:focus{
    outline: none;
  }

  &.no-shadow{
    box-shadow: none;
    border: none;
  }


  .icon{
    fill: $dark-blue;

  }





}

.gradient-bg{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3f4f5+0,fafafb+100&1+0,0+30,0+30 */
    background-image: -moz-linear-gradient(top, rgba(243,244,245,1) 0%, rgba(245,246,247,0) 40px, rgba(250,250,251,0) 100%); /* FF3.6-15 */
    background-image: -webkit-linear-gradient(top, rgba(243,244,245,1) 0%,rgba(245,246,247,0) 40px,rgba(250,250,251,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background-image: linear-gradient(to bottom, rgba(243,244,245,1) 0%,rgba(245,246,247,0) 40px,rgba(250,250,251,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.grey-bg{
    background-color: $light-grey;
}

.panel{
    padding-top: 5em;
    padding-bottom: 5em;

    @include breakpoint(below-tablet) {
        padding-top: 3.333333333em;
        padding-bottom: 3.333333333em;
    }

}


.price{
    border-bottom: 1px solid $off-grey;
    position: relative;

    text-align: left;
    margin-left: 3.333333333em;
    display: inline-block;

    &.small{
        font-size: .555555556em;

        .quantity{
            font-size: 12px;
            line-height: 16px;
            width: 40px;
        }
    }




    &:before{
        content: '';
        background: url(../img/icon-pound.svg) no-repeat center;
        background-size: cover;
        width: 3.111111111em;
        height: 4.166666667em;
        line-height: 1em;
        position: absolute;
        left: -3.333333333em;
        top: -.222222222em;

        .reverse &{
            background-image: url(../img/icon-pound-white.svg);
        }
    }

    .cost{
        font-size: 3.888888889em;
        line-height: 1em;
        display: inline-block;
    }

    .quantity{
        display: inline-block;
        font-size: 14px;
        line-height: 20px;
        color: $off-grey;
        width: 60px;
    }
}

.buy-now{

    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;

    li{
        width: 50%;

        @include breakpoint(below-wide-desktop) {
            width: 100%;
            margin-bottom: 2em;
        }

    }
}



.text-block{
    text-align: left;
    max-width: 680px;
    margin: 80px auto;

    @include breakpoint(mobile) {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    h1{
        font-size: 2.666666667em;
        margin-bottom: .625em;
    }


    h2{
        font-size: 2em;
        margin: .555555556em 0;
    }
}








.slick-slide{
    outline: none;
}







