.site-header{
    background: white;
    position: fixed;
    width: 100%;
    padding: 1.5em 0;
    z-index: 999999;


  .inner{
    width: 90.625%;

    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .logo{
    @extend %heading;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.714285714em;
    float: left;
  }

  .main-nav{
    @extend %heading;
    float: right;

    li{
        margin-right: 30px;
    }
  }

  .tel{

  }


}


.hamburger{
    display: none;
}



