.site-header{
    background: white;
    position: fixed;
    width: 100%;
    padding: 1.5em 0;
    z-index: 999999;


  .inner{
    width: 90.625%;

    left: 0;
    right: 0;
    margin: 0 auto;
  }
}




