    html.nav-open {
        overflow: hidden;
    }

    body.nav-open {
        overflow: visible;
        height: 100%;
    }


.main-nav{

    @include breakpoint(below-desktop) {
        display: none;

        background: $light-red;

    }



    a{
        @include breakpoint(mobile) {
            color: white;
        }

    }

    .nav-open &{
        display: block!important;
    }

}


.mobile-toggle{
    display: none;

    @include breakpoint(below-desktop) {
        display: inline-block;
    }

}

.hamburger-box {
    display: block;

}

