    html.nav-open {
        overflow: hidden;
    }

    body.nav-open {
        overflow: visible;
        height: 100%;
    }


.main-nav{

    @include breakpoint(below-desktop) {
        display: none;

        background: $light-red;

    }



    a{
        @include breakpoint(below-desktop) {
            color: white;
        }

    }

    .nav-open &{
        display: block!important;
    }

}



.hamburger-box {
    display: block;

}

