    html.nav-open {
        overflow: hidden;
    }

    body.nav-open {
        overflow: visible;
        height: 100%;
    }


.main-nav{

    @include breakpoint(below-desktop) {
        display: none;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        /* These 2 below are all the magic: */
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;

        .nav-open &{
            display: block!important;

            @include breakpoint(above-iphone5) {
                display: flex!important;
                align-items: center;
                justify-content: center;
                padding-top: 0;
            }
        }

    }




}


.mobile-toggle{
    display: none;

    @include breakpoint(below-desktop) {
        display: inline-block;
    }

}

.hamburger-box {
    display: block;
    margin-top: -15px;
}

