.news-filter{
    margin-bottom: 3.333333333em;

    form{

        @include breakpoint(tablet) {
            width: 100%;
            float: none;
        }


        label{
            color: $grey;
            padding-top: .055555556em;

            @include breakpoint(tablet) {
                padding-top: 0;
                margin-bottom: 1em;
            }

        }


        > *{
            display: inline-block;
            vertical-align: middle;

            @include breakpoint(tablet) {
                display: block;
                width: 100%;
            }

        }
    }



    .show-all{
        position: relative;
        text-decoration: none;
        display: inline-block;
        padding-top: .722222222em;
        color: $grey;

        @include breakpoint(tablet) {
            padding-top: 0;
        }



        &:after{
            content: '';
            width: 100%;
            height: 2px;
            display: block;
            background: $line-grey;
            position: absolute;
            bottom: 0;
            left: 0;
        }

        &:before{
            @include smooth;
            content: '';
            width: 0;
            height: 2px;
            display: block;
            background: $dark-blue;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 99;
        }


        &:hover{
            color: $dark-blue;

            &:before{
                width: 100%;
            }
        }
    }





    .select{

        position: relative;
        vertical-align: middle;
        padding: 0;
        overflow: hidden;
        text-shadow: none;
        background: white;
        border: 1px solid $dark-blue;

        @extend %icon;
        @extend .icon--down;

        @include breakpoint(tablet) {
            margin-bottom: 1em;
        }


        &:before{
            position: absolute;
            top: 0;
            right: 1.25em;
            pointer-events: none;
            padding-top: .666666667em;
        }

        > *{
            @extend %serif;

            border-radius: 0;
            cursor: pointer;
            padding: .888888889em 5em .777777778em 1.25em;
            width: 108%;
            border: none;
            background: transparent;
            background-image: none;
            -webkit-appearance: none;
               -moz-appearance: none;
                    appearance: none;

            // Mozilla Hack
            text-indent: 0.01px;
            text-overflow: '';

            // IE 6-8 Hack
            width: 160%\9;

            &:focus{
              outline:none;
            }

            &::-ms-expand {
              display: none;
            }
        }
    }

    %icon:before {
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      height: 100%;
      color:white;

    }

    .icon--down:before {
        content: url(../img/icon-arrow-down.svg);
    }

}