.grey-bg + .newsletter{
    border-top: none;
}

.newsletter{
    text-align: center;
    padding-top: 4em;
    padding-bottom: 4em;
    border-top: 1px solid $line-grey;


    > *{
        max-width: 960px;
        margin: 0 auto;
    }

    legend,
    h1,
    h2{
        font-size: 2.666666667em;
        line-height: 1.166666667em;
        margin-bottom: .416666667em;

        @include breakpoint(below-tablet) {
            font-size: 2em;
        }
    }

    p{
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .row-fluid{
        display: flex;

        @include breakpoint(below-tablet) {
            flex-direction: column;
        }

    }

    .form-field{
        position: relative;
        width: 50%;
        margin: 0 20px;

        @include breakpoint(below-tablet) {
            width: 100%;
            margin: 0 0 1em;
        }

        .umbraco-forms-field > *{
            position: relative;
        }

    }

    label{
        display: none;
    }

    input{
        width: 100%;
    }

    .email{
        padding-right: 60px;
    }

    button{
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -22px;
        background: transparent;
        box-shadow: none;
        opacity: .4;


        background: url(../img/icon-box-arrow-right.svg) no-repeat;
        font-size: 1px;



        padding: 0;
        border: none;
        width: 44px;
        height: 44px;

        @include breakpoint(mobile) {
            padding-left: 0;
            padding-right: 0;
            display: block;
        }


        &:hover{
            opacity: 1;
                transform: translate(0, 0);
        }

    }


}

.hero-carousel + .newsletter{

    @include breakpoint(mobile) {
        margin-top: 1.6em;
        padding-top: 2em;
    }


}