/* FONTS */

@font-face {font-family: 'Nissan';src: url('../fonts/Nissan.eot');src: url('../fonts/Nissan.eot?#iefix') format('embedded-opentype'),url('../fonts/Nissan.woff2') format('woff2'),url('../fonts/Nissan.woff') format('woff'),url('../fonts/Nissan.ttf') format('truetype');}


/* ==========================================================================
   SCSS Variables
   ========================================================================== */

/* COLOURS */

$grey: #787878;
$dark-grey: #404040;
$light-grey: #eee;
$magenta: #f80054;
$dark-red: #7f0004;
$light-red: #a30411;



%base-font-rendering{
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;

  font-weight: normal;
  font-style: normal;
}

%sans {
    @extend %base-font-rendering;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
}

%heading {
    @extend %base-font-rendering;

    font-family: "Nissan", sans-serif;
    font-style: normal;
}



